header {
  background-image: url("https://images.unsplash.com/photo-1517336714731-489689fd1ca8");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 80px 0;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.header-content {
  position: relative;
  z-index: 2;
}
.header-logo {
  max-width: 150px;
}
